input{
    padding: 3px;
}

label{
    padding-right: 10px;
    font-size: 15px;
}

.model-title{
    text-align: center;
}

.name-input-div,.email-input-div, .team-input-div, .submit-button-div {
    padding-top: 3px;
    margin-bottom: 2px;
    margin-top: 5px;
    position: relative;
}

/* .name-input-div:hover,.email-input-div:hover, .team-input-div:hover, .submit-button-div:hover{
    -webkit-box-shadow: 0 1px 1px -1px black;
    -moz-box-shadow: 0 1px 1px -1px black;
         box-shadow: 0 1px 1px -1px black;
        
} */

.model-input-submit{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: whitesmoke;
    margin-left: 22%;
}
.model-input-submit:hover{
    background-color: white;
    border-bottom: 2px solid #0d6efd;
}
.model-input-submit:focus{
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 2px solid #0d6efd;
}


.user-input-details{
    text-align: center;
}

input:focus{
    border-radius: 2px;
    border: 1px solid #0d6efd;   
    background-color: white;
    padding: 4px;
}